#container {
    height: 400px;
    width: 600px;
    border: 1px solid black;
    margin-left: 300px;
    margin-top: 50px;
}

h1 {
    text-align: center;
}

.btn {
    margin-top: 20px;
    margin-left: 150px;
}

#santosh {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    text-align: center;
    margin-top: 50px;
}