<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Hello, World!</title>
  </head>
  <body>
      <h1> Django is very easy to learn</h1>
      
        <table border="1px">
          <tr>
          <th>student name</th>
          <th>student address</th>
          <th>student marks</th>
        </tr>

      {%for Student in stu_list%}
        <tr>
          <td>{{Student.name}}</td>
          <td>{{Student.address}}</td>
          <td>{{Student.marks}}</td>
        </tr>
        {%endfor%}
      </table>


  </body>
</html>